.button {
  font: var(--core-font-weight-2) var(--core-font-size-2)
    var(--core-font-family);
  color: var(--semantic-text-color-primary);
  height: var(--component-action-size-default);
  border-radius: var(--semantic-radius-small);
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  padding-left: var(--semantic-spacing-small);
  padding-right: var(--semantic-spacing-small);
  box-shadow: var(--semantic-shadow-elevation-one);

  -webkit-transition: background-color 150ms
    cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -moz-transition: background-color 150ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -o-transition: background-color 150ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: background-color 150ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  display: inline-flex;
  align-items: center;
}

.button:hover {
  cursor: pointer;
  background-color: var(--component-action-color-background-hover-transparent);
}

.button:disabled:hover {
  background-color: rgba(0, 0, 0, 0);
}

.primary {
  color: var(--semantic-text-color-contrast);
  background-color: var(--semantic-background-highlight);
}

.primary:hover {
  background-color: var(--component-action-color-background-hover-highlight);
}

.destructive {
  color: var(--semantic-text-color-contrast);
  background-color: var(--semantic-background-destructive);
}

.destructive:hover {
  background-color: var(--component-action-color-background-hover-destructive);
}

.implied {
  box-shadow: none;
}

.expanded {
  width: 100%;
  justify-content: center;
}

.stacked {
  flex-direction: column;
  justify-content: center;
  padding: var(--semantic-spacing-small);
  height: auto;
}

.small {
  font: var(--semantic-text-styles-small);
  height: var(--component-action-size-minimal);
  padding-left: var(--semantic-spacing-tiny);
  padding-right: var(--semantic-spacing-tiny);
}

/* CSS for Icons */

.button svg:first-child {
  margin-right: var(--semantic-spacing-tiny);
}

.button svg:last-child {
  margin-left: var(--semantic-spacing-tiny);
}

.button svg:only-child {
  margin: 0px;
}

.button.stacked svg:first-child {
  margin: 0;
  margin-bottom: var(--semantic-spacing-tiny);
}

.button.stacked svg:last-child {
  margin: 0;
  margin-top: var(--semantic-spacing-tiny);
}
