.headerAction {
  font: var(--core-font-weight-2) var(--core-font-size-2)
    var(--core-font-family);
  color: var(--semantic-text-color-primary);
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  padding: var(--core-size-0) 0px;
  box-shadow: none;
  position: relative;
}

.headerAction:hover {
  cursor: pointer;
}

.selected {
  border-bottom: 3px solid var(--semantic-background-highlight);
}

.hoverBg {
  height: calc(
    var(--component-navigation-size-header-height) - (var(--core-size-0) * 2)
  );
  min-width: calc(
    var(--component-navigation-size-header-height) - ((var(--core-size-0) * 2))
  );
  border-radius: var(--semantic-radius-medium);
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background-color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -moz-transition: background-color 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
    0s;
  -o-transition: background-color 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: background-color 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hoverBg.padding {
  padding-left: var(--semantic-spacing-small);
  padding-right: var(--semantic-spacing-small);
}

.headerAction:hover .hoverBg {
  background-color: var(--component-action-color-background-hover-transparent);
}

.headerAction.toggled .hoverBg,
.headerAction.toggled:hover .hoverBg {
  background-color: var(--component-navigation-color-background-selected);
}

.headerAction:disabled:hover {
  background-color: rgba(0, 0, 0, 0);
}

.content {
  color: var(--component-navigation-color-icon-default);
}

.content svg {
  /* The following line removes the extra space beneath the icon. */
  display: block;
  width: var(--core-size-3);
  height: var(--core-size-3);
}

.selectable .content {
  color: var(--semantic-icon-color-secondary);
}

.selected .content {
  color: var(--component-navigation-color-icon-selected);
}

.selected {
  padding-bottom: 2px;
}

.content.circle {
  color: var(--semantic-icon-color-contrast);
  background-color: var(--semantic-background-layer-4);
  height: var(--core-size-4);
  width: var(--core-size-4);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--core-size-4);
}

.content.circle svg {
  width: calc(var(--core-size-3) - var(--semantic-spacing-minimal));
  height: calc(var(--core-size-3) - var(--semantic-spacing-minimal));
}

.badge {
  position: absolute;
  top: var(--semantic-spacing-minimal);
  right: var(--semantic-spacing-minimal);
}

.hoverLabelWrapper {
  position: absolute;
  top: calc(
    var(--component-navigation-size-header-height) + var(--core-size-1)
  );
  text-align: center;
  justify-content: center;
  width: 100%;
  display: none;
}

.headerAction:hover .hoverLabelWrapper {
  display: flex;
}

.hoverLabel {
  display: inline-block;
  box-shadow: var(--semantic-shadow-elevation-one);
  padding: 3px var(--semantic-spacing-tiny);
  white-space: nowrap;
  border-radius: 30px;
}
