.badge {
  font: var(--core-font-weight-1) var(--core-font-size-1)
    var(--core-font-family);
  color: var(--semantic-text-color-contrast);
  background-color: var(--semantic-background-highlight);
  min-width: var(--core-size-1);
  height: var(--core-size-1);
  border-radius: var(--core-size-1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: var(--semantic-spacing-minimal);
}

.warning {
  background-color: var(--semantic-background-warning);
  color: var(--semantic-text-color-primary);
}

.word {
  border-radius: var(--semantic-radius-small);
}
